<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
    <connectionStrings>
      <add name="MyDBhost"
      connectionString="Data Source=7504f713-6faf-4c9b-a2f9-a4f40049d5ea.sqlserver.sequelizer.com;Initial Catalog=db7504f7136faf4c9ba2f9a4f40049d5ea;Persist Security Info=True;User ID=lfhuqtokgswtekvu;Password=5cVtQiiRA5wxJaKSaEbHeAwfr8rPM7HpP6NiSWMsdHvQwjWqhiVMwrSCMPcRYAeC"
      providerName="System.Data.SqlClient" />
      <add name="MyDB"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|ConferenceDB.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
  
</configuration>
